@font-face {
  font-family: "Drakon";
  src: url("/fonts/drakon.ttf") format("ttf");
}

body {
  background-color: #d2d0d0 !important;
}

main {
  background-color: white !important;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 1em 1.5em !important;
  
}*/

.padding {
  padding: 1em 1.5em !important;
}

main {
  min-height: 700px;
}

main a h2 {
  font-family: "Roboto Slab";
  color: #19191f;
  margin: 20px auto;
}

.form h2 {
  font-family: "Roboto Slab";
  color: #19191f;
  margin-top: 10px;
  font-size: 2em;
}

.form label {
  font-family: "Roboto Slab";
  color: #19191f;
  margin-top: 10px;
  font-size: 2em;
}

.articulo h2 {
  font-family: "Roboto Slab";
  color: #19191f;
  margin-top: 10px;
  font-size: 4em;
}

.articulo h3 {
  font-family: "Roboto Slab";
  color: #19191f;
  font-size: 2em;
  margin-left: 0.5em;
}

.articulo p {
  font-family: Roboto;
  color: #19191f !important;
  font-size: 1.5em;
}

.info p {
  font-family: Roboto;
  color: #19191f !important;
  font-size: 1em;
}

.info p span {
  font-family: Roboto;
  color: #853227 !important;
  font-size: 1.5em;
  font-weight: bold;
}

main a h2:hover {
  color: #853227;
}

.descripcion {
  font-family: Roboto !important;
  color: #79504a !important;
  font-size: 1.4em;
  margin-top: 0.8em;
}

main a .texto {
  font-family: Roboto;
  color: #853227 !important;
}

main a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #111116;
}

header h1 {
  background: url('../images/dotear.png') no-repeat right;
  color: #853227;
  font-size: 4em;
  font-family: Drakon;
  font-weight: bold;
  height: 50px;
  margin: 1em auto;
}

.navbar.navbar-default {
  background-color: #853227;
  border-color: #240c08;
}

.navbar-default .navbar-nav > li > a {
  color:#e3e3e3 !important;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#e3e3e3 !important;
  background-color: #33100b !important;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #111116 !important;
  color:#e3e3e3 !important;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #111116 !important;
}

.btn-primary {
  background-color: #33100b !important;  
  border-color: #33100b !important;  
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.table th, .table td {
  font-family: Roboto !important;

}

.table th {
  background-color: #33100b  !important;
  color: #e3e3e3; 
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e2c3bf  !important;
}

.img-responsive {
  margin: 10px auto; 
}

.list-post {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login-button, #logout-button {
  color: white;
}

#login-button:hover, #logout-button:hover {
  color: black;
}